@media only screen and (max-width: 600px);
*
{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body
{
    font-family: Roboto,Arial,Helvetica,sans-serif;
}
.header
{
    overflow: hidden;
    background-color: whitesmoke;
    padding:5px;
    box-shadow: 6px 5px 5px 5px white;
    margin-bottom:-68px;   

}
.myInput 
{
    
    height: 40px;
    width:20%;
    border: 2px solid #002f34;
    position: relative;
    left: 260px;
    top: 0px;
}
.myInput1
{
    height:40px;
    width:30%;
    border: 2px solid #002f34;
    position: relative;
    left:600px;
    bottom:46px;
}
.ad1
{
    position: absolute;
    left: 390px;
    top:25px;
}
.fs1
{
    position: relative;
    left: 269px;
    bottom:77px;
}
.topheader1
{
    position: relative;
    margin-left:1200px;
    bottom:90px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    color: #002f34;
}
.tha1
{    position: absolute;
    right:360px;
    top: 2px;
}
.tha2
{
    position: absolute;
    margin-left: 54px;
    color: #002f34;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown1
{
    direction: ltr;
    text-align: left;
    text-size-adjust: 100%;
    position: absolute;
    margin-top: 24px;
    left: -24px;
    line-height: 1.15;
    display: block;
    column-count: 1;
    width: 200px;
    box-shadow: 0 4px 12px 1px rgb(0 0 0 / 50%);
    border-radius: 4px;
    background-color: #fff;
    justify-content: space-between;
    padding: 16px 16px 0;
}
.header-1
{
    overflow: hidden;
    background-color: white;
    box-shadow: 6px 5px 5px 5px white;
    margin: 0 0 4px;
}
.img{max-width: 50px;
    height: 30px;
    padding-left: 100px;
    position: absolute;
    top: 14px;
}
.dropdownbox
{ 
    width:50px;
    height:35px;
    padding-left:200px;
    cursor: pointer;

}
hr {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid gray;

  }
.h11
{
    display: flex;
    font-size: 14px;
    position: relative;
    margin-left: 20px;
    top: 13px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    color: #002f34;
}
.fa-angle-down:before {
    content: "\f107";
    position: relative;
    left: 146px;
    bottom: 11px;
}
.h12{
    display: flex;
    font-size: 14px;
    position: relative;
    margin-left: 189px;
    bottom: 32px;
    text-transform:capitalize;
    font-weight: 700;
    cursor: pointer;
    color: #002f34;
}
.h13
{
    display: flex;
    font-size: 14px;
    position: relative;
    margin-left: 228px;
    bottom: 47px;
    text-transform:capitalize;
    font-weight: 700;
    cursor: pointer;
    color: #002f34;
}
.h14
{
    display: flex;
    font-size: 14px;
    position: relative;
    margin-left: 306px;
    bottom: 62px;
    text-transform:capitalize;
    font-weight: 700;
    cursor: pointer;
    color: #002f34; 
}
.h15{
    display: flex;
    font-size: 14px;
    position: relative;
    margin-left: 410px;
    bottom: 78px;
    text-transform:capitalize;
    font-weight: 700;
    cursor: pointer;
    color: #002f34;
}
.h16{
    display: flex;
    font-size: 14px;
    position: relative;
    margin-left: 600px;
    bottom: 93px;
    text-transform:capitalize;
    font-weight: 700;
    cursor: pointer;
    color: #002f34;
}
.h17{
    display: flex;
    font-size: 14px;
    position: relative;
    margin-left: 659px;
    bottom: 110px;
    text-transform:capitalize;
    font-weight: 700;
    cursor: pointer;
    color: #002f34;
}
.h18{
    display: flex;
    font-size: 14px;
    position: relative;
    margin-left: 854px;
    bottom: 127px;
    text-transform:capitalize;
    font-weight: 700;
    cursor: pointer;
    color: #002f34;
}   
.header-3 
{
    position: relative;
    margin-left: 25px;
    bottom: 90px;
    color: rgba(0,47,52,.64);
}
.left-1
{
    margin:150px;
    height:550px;
    bottom: 189px;
    width:750px;
    background: #fff;
    overflow: hidden;
    border: 1px solid rgba(0,47,52,.2);
    border-radius: 4px;
    position: relative;
    background-color: black;
}
  .left-img-1
{
    
    width:500px;
    padding-left:100px;
    background-color: black;
}
.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin:2px;
    padding: 6px;
   
  }
.carimg-1:hover ,.carimg-2:hover,.carimg-3:hover,.carimg-4:hover ,.carimg-5:hover,
.carimg-6:hover, .carimg-7:hover,.carimg-8:hover{
    border: 2px solid #002f34;
    height:75px;
border-radius: 0;
}
.carimg-1,.carimg-2,.carimg-3,.carimg-4,.carimg-5,.carimg-6,.carimg-7,.carimg-8
{
    height:75px;
    width:75px;
}
.left-2
{
    
    height:500px;
    width:750px;
    background: #fff;
    overflow: hidden;
    border: 2px solid rgba(0,47,52,.2);
    border-radius: 4px;
    position:absolute;
    top: 784px;
    margin-left: 150px;
}
.l2h
{
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: #002f34;
    margin-left: 20px;
    margin-top: 20px;
}
.left-2-1
{
    display:inline-grid;
    /* margin-bottom: 10px; */
    width: 100%;
    justify-content: space-between;
    font-size:14px;
    margin-left: 20px;
    margin-top: 16px;

    color: rgba(0,47,52,.64)
}
.left-2-2
{
    display: inline-grid;
    /* margin-bottom: 10px; */
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 166px;
    margin-top: 17px;
    position: relative;
    color: rgba(0,47,52,.64);
    bottom: 138px;
}
.left-2-2-1{
     padding-bottom: 17px;
    display: grid;
    margin-left: 303px;
    position: relative;
    bottom: 250px;
    color: #002f34;
}
hr.new1
{
    width:90%;
    border: 1px solid gray;
    position: relative;
    bottom: 380px;
}
.left-2-1-1
{
    padding-bottom: 15px;
    display:grid;
    margin-left: 150px;
    position: relative;
    bottom: 111px;
    color: #002f34;
}
.l211h
{
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: #002f34;
    margin-left: 14px;
    position: relative;
    bottom:383px;
}
.l211s
{
    word-break: break-word;
    margin: 0;
    color: #002f34;
    font-size: 14px;
    line-height: 20px;
    margin-left: 12px;
    position: relative;
    bottom: 390px;
}
.l211s1
{
    word-break: break-word;
    margin:2px;
    color: #002f34;
    font-size: 14px;
    line-height: 20px;
    margin-left: 12px;
    position: relative;
    bottom:363px;

    
}
.l3h
{
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: #002f34;
    margin-top: 30px;
    margin-left: 21px;
}
.flex-container-1 {
    display: flex;
  }
  
  .flex-container-1 > div {
    margin:8px;
    padding: 5px;
   
  }
  .l3i1
  {
      height:150px;
      width:100px;
      margin-left: 80px;
  }
.l3i12
{
    text-align: left;
    position: relative;
    right: 128px;
    top: 172px;
    font-size: 20px;
    color: #002f34;
}
.l3i13
{
    text-align: left;
    position: relative;
    top:195px;
    right: 222px;
    color: #002f34;
    font-size:14px;

}
.l3i14
{
    text-align: left;
    position: relative;
    top: 217px;
    right: 320px;
    color: rgba(0,47,52,.64);
    font-size: 14px;
}
.l3i15
{
    text-align: left;
    position: relative;
    top: 240px;
    right: 467px;
    color: rgba(0,47,52,.64);
    font-size: 10px;
}
.l3i16
{    position: relative;
    right: 467px;
    top: 241px;
    color: rgba(0,47,52,.64);
    font-size: 10px;

}
.l3i2
{ 
    height: 150px;
    width: 100px;
    margin-left: 290px;
    position: relative;
    bottom: 175px;
    
}
.l3i21
{
    margin-left: 142px;
    margin-bottom: 5px
}
.l3i22
{
    margin-right: 174px;
    margin-bottom: 15px;
    position: relative;
    right: 120px;
    color: #002f34;
     font-size: 20px;
}
.l3i23
{
    position: relative;
    display: flex;
    right: 120px;
    color: #002f34;
    font-size: 14px;
}
.l3i24
{
    position: relative;
    right: 126px;
    top: 2px;
    color: rgba(0,47,52,.64);
    font-size: 14px;
}
.l3i25
{
    position: absolute;
    top: 315px;
    right: 294px;
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(0,47,52,.64);
}
.l3i3
{
    position:absolute;
    bottom: 123px;
    left: 486px;
    width:125px;
    height:150px;
    
}
.l3i32
{
    position: relative;
    font-size: 20px;
    bottom: 177px;
    left: 461px;
    color: #002f34;
}
.l3i33
{
    position: absolute;
    font-size: 14px;
    bottom: 55px;
    left: 500px;
    color: #002f34;
}
.l3i34
{
   position:absolute;
   position: absolute;
   bottom: 36px;
   font-size: 14px;
   left: 496px;
   color: rgba(0,47,52,.64);
   
}
.l3i35
{
    position: absolute;
    font-size: 10px;
    color: rgba(0,47,52,.64);
    bottom: 18px;
    left: 495px;
}
.l3i36
{
    position: absolute;
    font-size: 10px;
    color: rgba(0,47,52,.64);
    bottom: 19px;
    left:604px;
}
.left-3
{
    height:344px;
    width: 750px;
    background: #fff;
    overflow: hidden;
    border: 2px solid rgba(0,47,52,.2);
    border-radius: 4px;
    position:absolute;
    top: 1300px;
    margin-left: 150px;
}
.right-1
{
    height: 165px;
    width: 450px;
    background: #fff;
    border: 1px solid rgba(0,47,52,.2);
    border-radius: 4px;
    position: relative;
    bottom: 888px;
    margin-left: 930px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    color: #002f34;
    
}
.fa-share-alt-square:before {
    content: "\f1e1";
    position: absolute;
    margin-left: 193px;
}
.fa-heart-o:before {
    content: "\f08a";
    position: absolute;
    margin-left: 245px;
}
.right-1-1
{
    margin-left: 15px;
    position: relative;
    top: 16px;
    direction: ltr;
    font-weight: 700;
    margin-bottom: 8px;
    color: #002f34;
    font-size: 34px;
    line-height: 32px;
}
.right-1-2
{
    margin: 8px 0;
    font-size: 16px;
    color: #002f34;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    position: relative;
    top: 18px;
}
.right-1-3
{
    margin: 8px 0;
    font-size: 16px;
    color: rgba(0,47,52,.64);
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    position: relative;
    top: 20px;
}
.right-1-4
{
    margin: 8px 0;
    font-size: 12px;
    color: rgba(0,47,52,.64);
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    position: relative;
    top: 21px;
}
.right-1-5
{
    margin: 8px 0;
    text-align: right;
    font-size: 12px;
    color: rgba(0,47,52,.64);
    display: flex;
    flex-direction: column;
    margin-right: 10px; 
    position: relative;
    bottom: 7px;
}
.right-2
{
    margin:40px;
    height: 250px;
    width: 450px;
    background: #fff;
    overflow: hidden;
    border: 1px solid rgba(0,47,52,.2);
    border-radius: 4px;
    position:relative;
    bottom: 912px;  
    margin-left: 928px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    color: #002f34;
}
.fa-angle-right:before {
    content: "\f105";
    margin-left: 390px;
    position: absolute;
    top: 83px;
}
.right-2-1
{
    font-size: 20px;
    line-height: 24px;
    color: #002f34;
    font-weight: 400;
    padding: 0;
    margin-left: 19px;
    
}
.img-1{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;

}
.right-2-2
{
    font-size: 16px;
    margin-left: 100px;
    position: relative;
    bottom: 50px;
}
.right-2-3
{
    margin-left: 100px;
    position: relative;
    bottom: 50px;
    color: #000;
    font-size: 12px;
}
.right-2-4
{
    margin-left: 84px;
    position: absolute;
    display: flex;
    bottom: 11px;
}
.right-2-5
{
    display: flex;
    position: relative;
    left: 1px;
    bottom: 18px;
    text-decoration: underline;
    color: #6c99ff;
    
    top: 10px;
}
.button-1
{
    color: #fff;
    background-color: #002f34;
    border-radius: 4px;
    border: 5px solid #002f34;
    padding: 0 7px;
    position: relative;
    bottom: 30px;
    margin-left: 30px;
    font-size: 14px;
    height: 40px;
    width:350px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color:black;
}
.right-3
{
    margin:40px;
    height:240px;
    width:450px;
    background: #fff;
    overflow: hidden;
    border: 2px solid rgba(0,47,52,.2);
    border-radius: 4px;
    position: relative;
    margin-left: 926px;
    bottom: 940px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;

}
.right-3-1
{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    font-size:20px;
    color: #002f34;
}
.right-3-2
{
    position: relative;
    margin-left: 20px;
    top: 11px;
}
.right-b-1
{
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.right-b-2
{
    position: absolute;
    top:990px;
    margin-left:25px;
    color: #002f34;
    font-size:16px;
    font-weight: bolder;
    padding-left:900px;
}
.right-b-3
{color: #002f34;
    left: 1260px;
    display: flex;
    top: 990px;
    position: absolute;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 50px;
    font-size: 14px;
}
.img-2
{
    border-style: none;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius:5%;
    width:375px;
    height:150px;
    padding-left:10px;
    position: relative;
    top: 20px;
}
.topfooter
{
    display: flex;
    background: #ebeeef;
   
    padding: 16px 0;
    border-top: 1px solid rgba(0,47,52,.2);
    font-size: 14px;
    line-height: 20px;
}
.topfooter-1{
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
    display: block;
    color: #002f34;
    font-size: 14px;
line-height: 20px;
direction: ltr;
text-align: left;
margin-left: 100px;

}
.tf11
{
    position: relative;
top: 9px;
right: 40px;
list-style: none;
font-weight: 400;
text-transform: none;
text-decoration: none;
cursor: pointer;
font-size: 12px;

color: rgba(0,47,52,.64);
}
.tf12
{
    position: relative;
    top: 9px;
    list-style: none;
    right: 40px;
    font-weight: 400;
text-transform: none;
text-decoration: none;
cursor: pointer;
font-size: 12px;
color: rgba(0,47,52,.64);

}
.tf13
{
    position: relative;
    top: 9px;
    right: 40px;
    list-style: none;font-weight: 400;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: rgba(0,47,52,.64);
   

}
.tf14
{
    position: relative;
    top: 9px;
    right: 40px;
    list-style: none;
    font-weight: 400;
text-transform: none;
text-decoration: none;
cursor: pointer;
font-size: 12px;
color: rgba(0,47,52,.64);

}
.topfooter-2
{
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
    display: block;
    color: #002f34;
    font-size: 14px;
line-height: 20px;
direction: ltr;
text-align: left;

}
.topfooter-3
{
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
    display: block;
    color: #002f34;
    font-size: 14px;
line-height: 20px;
direction: ltr;
text-align: left;

}
.topfooter-4
{
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
    display: block;
    color: #002f34;
    font-size: 14px;
line-height: 20px;
direction: ltr;
text-align: left;

}
.topfooter-5
{
    font-weight: 700;
    text-transform: uppercase;
    flex-basis: 20%;
    display: flex;
    color: #002f34;
    font-size: 14px;
line-height: 20px;
direction: ltr;
text-align: left;

}
.tf51
{
    position: relative;
top: 28px;
right: 88px;

}
.bottom-footer
{
    color: #fff;
font-size: 12px;
line-height: 18px;
background: #002f34;
padding: 16px 0;
direction: ltr;
text-align: left;
display: flex;
}
.bf11
{
    font-weight: 700;
    padding-right: 8px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    margin-left: 78px;
    margin-top: 31px;
    position: relative;
    
}
.bf12
{
    font-weight: 700;
    padding-right: 8px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    margin-left: 7px;
    margin-top: 31px;
    position: relative;
   
}
.bf13
{
    font-weight: 700;
    padding-right: 8px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    margin-top: 31px;
    position: relative;
    
}
.bf14
{
    font-weight: 700;
    padding-right: 8px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    margin-top: 31px;
    position: relative;
    
}
.bf111
{
    position: relative;
    margin-left: 464px;
    font-size: 12px;
    display: flex;

}